In [2]:
#Strings 

# any object representing a sequence of characters in an eclosing set of quotation marks 

myCountry = 'Ghana'

In [56]:
myCountry

'Ghana'

In [3]:
#Variable type 

type(myCountry)

str

In [4]:
myCountry = "Ghana"

In [7]:
# Scenario 1

'''
Okita has a student in his class with the following student ID; Benard_Bondo_34563

Task: extract the first name, lastname and numeric iID of the student from the string
'''

In [9]:
studentID = 'Benard_Bondo_34563'

#Each character in a string is assigned an index position, starting from 0

In [10]:
# String slicing and subsetting 

studentID[0]

'B'

In [11]:
# retrieve 'R' from the student ID 

studentID[4]

'r'

In [12]:
# get the length of a string using the len() function  

len(studentID)

18

In [ ]:
Let us use a conditional statement to check the length of an account number  

savingsAcctNo = '00978457645834'

# use confditional statement to check if the string length is 10

In [ ]:
# structure of an if statement  

if CONDITION_TO _EVALUATE:
    code to run if condition is true
else:
    code to run if condition is false

In [57]:
age = 35  

if age > 30:
    print('wow I am an adult now!') # executed when condition is true
else:
    print('hehehehe.... i am in my prime') # executed when condition is false

wow I am an adult now!

In [59]:
age > 40

False

In [15]:
age = 25  

if age > 30:
    print('wow I am an adult now!') # executed when condition is true
else:
    print('hehehehe.... i am in my prime') # executed when condition is false

hehehehe.... i am in my prime

In [18]:
wealth = 59999

if wealth > 5000:
    print('i am rich')
else:
    print('i am poor')

i am rich

In [60]:
wealth > 5000

True

In [61]:
wealth = 59999

if wealth < 5000:
    print('i am rich')
else:
    print('i am poor')

i am poor

In [62]:
wealth < 5000

False

In [20]:
#Let us use a conditional statement to check the length of an account number  

savingsAcctNo = '00978457645834'

# use confditional statement to check if the string length is 10  

if len(savingsAcctNo) == 10:
    print('account number length is 10')
else:
    print('account number length is not equal to 10')
    print('the length of account number is', len(savingsAcctNo))

account number length is not equal to 10
the length of account number is 14

In [63]:
len(savingsAcctNo) == 10

False

In [ ]:
# Scenario 1

'''
Okita has a student in his class with the following student ID; Benard_Bondo_34563

Task: extract the first name, lastname and numeric iID of the student from the string
'''

In [65]:
studentID = 'Benard_Bondo_34563'

firstName = studentID[0:6]
print(firstName)

B enar

In [23]:
lastName = studentID[7:12]
lastName

'Bondo'

In [24]:
numericID = studentID[13:18]
numericID

'34563'

In [25]:
print(firstName, lastName,numericID)

Benard Bondo 34563

In [28]:
x = 5
x
y = 6
x

5

In [29]:
studentID

'Benard_Bondo_34563'

In [30]:
# Negative indexing of strings  

studentID = 'Benard_Bondo_34563'
# the last character in a string is always in index position -1 or the length of the string minus one 

strLength = len(studentID)

lastChar1 = studentID[-1]
lastChar2 = studentID[strLength-1]

print(lastChar1)
print(lastChar2)

3
3

In [31]:
len(studentID)

18

In [33]:
# slicing using negative index 

firstName1 = studentID[-18:-12]
firstName1

'Benard'

In [35]:
address = 'suite 127, 50 south main street, akron ohio 44308'

address1 = address[0:9]
address2 = address[11:31]
address3 = address[33:49]

print(address1)
print(address2)
print(address3)

suite 127
50 south main street
akron ohio 44308

In [44]:
text = 'publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface crazy without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available. It is also damn used to temporarily replace text in a process called greeking, which allows designers to consider the form of a webpage or publication,  damn without the meaning of the text influencing the design.'

In [45]:
wordsInText = text.split(' ')

In [51]:
wordsInText

['publishing',
 'and',
 'graphic',
 'design,',
 'Lorem',
 'ipsum',
 'is',
 'a',
 'placeholder',
 'text',
 'commonly',
 'used',
 'to',
 'demonstrate',
 'the',
 'visual',
 'form',
 'of',
 'a',
 'document',
 'or',
 'a',
 'typeface',
 'crazy',
 'without',
 'relying',
 'on',
 'meaningful',
 'content.',
 'Lorem',
 'ipsum',
 'may',
 'be',
 'used',
 'as',
 'a',
 'placeholder',
 'before',
 'final',
 'copy',
 'is',
 'available.',
 'It',
 'is',
 'also',
 'damn',
 'used',
 'to',
 'temporarily',
 'replace',
 'text',
 'in',
 'a',
 'process',
 'called',
 'greeking,',
 'which',
 'allows',
 'designers',
 'to',
 'consider',
 'the',
 'form',
 'of',
 'a',
 'webpage',
 'or',
 'publication,',
 '',
 'damn',
 'without',
 'the',
 'meaning',
 'of',
 'the',
 'text',
 'influencing',
 'the',
 'design.']

In [46]:
print(wordsInText)

['publishing', 'and', 'graphic', 'design,', 'Lorem', 'ipsum', 'is', 'a', 'placeholder', 'text', 'commonly', 'used', 'to', 'demonstrate', 'the', 'visual', 'form', 'of', 'a', 'document', 'or', 'a', 'typeface', 'crazy', 'without', 'relying', 'on', 'meaningful', 'content.', 'Lorem', 'ipsum', 'may', 'be', 'used', 'as', 'a', 'placeholder', 'before', 'final', 'copy', 'is', 'available.', 'It', 'is', 'also', 'damn', 'used', 'to', 'temporarily', 'replace', 'text', 'in', 'a', 'process', 'called', 'greeking,', 'which', 'allows', 'designers', 'to', 'consider', 'the', 'form', 'of', 'a', 'webpage', 'or', 'publication,', '', 'damn', 'without', 'the', 'meaning', 'of', 'the', 'text', 'influencing', 'the', 'design.']

In [43]:
wordToSearch = 'used'

for word in wordsInText:
    if word == wordToSearch:
        indexPos = text.index(word)
        print(f'found word, {word} at index postion {indexPos}')

found word, used at index postion 74
found word, used at index postion 74
found word, used at index postion 74

In [47]:
wordToSearchList = ['crazy', 'damn']

for word in wordsInText:
    if word in wordToSearchList:
        indexPos = text.index(word)
        print(f'found word, {word} at index postion {indexPos}')

found word, crazy at index postion 138
found word, damn at index postion 267
found word, damn at index postion 267

In [48]:
x = 70
print('myage', x)

myage 70

In [50]:
x = 70
print(f'myage is {x}')

myage is 70

In [52]:
studentID = 'Benard_Bondo_34563'

# Using Split() function to slice strings 

studentVals = studentID.split('_')

studentVals

['Benard', 'Bondo', '34563']

In [54]:
firstName3 = studentVals[0]
lastName3 = studentVals[1]
studID3 = studentVals[2]

In [55]:
print(firstName3)
print(lastName3)
print(studID3)

Benard
Bondo
34563

In [67]:
studentID = 'Benard_Bondo_34563'

first_name, last_name, ID = studentID.split('_')

In [68]:
first_name

'Benard'

In [75]:
studentList = ['Agatha', 'Daniel', 'Udeme']

examScore = [56,78,90]

GradeList = ['A','B', 'C', 'F']

studentRes= {}

for student, score in zip(studentList,examScore):
    #print(student, score)
    
    if score >85:
        grade = GradeList[0]
        studentRes[student] = grade
    elif score >70 and score < 85:
        grade = GradeList[1]
        studentRes[student] = grade 
    elif score >60 and score < 70:
        grade = GradeList[2]
        studentRes[student] = grade 
    else:
        grade = GradeList[3]
        studentRes[student] = grade 
        
print(studentRes)

import pandas as pd 

scoreCol = list(studentRes.values())
studCol = list(studentRes.keys())

df = pd.DataFrame()

df['student'] = studCol
df['Grade'] = scoreCol
df

{'Agatha': 'F', 'Daniel': 'B', 'Udeme': 'A'}

  student Grade
0  Agatha     F
1  Daniel     B
2   Udeme     A

In [77]:
#saving to disk 

df.to_csv('c:/datasets/cohort_16_result.csv')

In [76]:
studentRes

{'Agatha': 'F', 'Daniel': 'B', 'Udeme': 'A'}

In [82]:
student  = input('enter student name')
score = int(input('enter student score'))

GradeList = ['A','B', 'C', 'F']

studentRes= {}


if score >85:
    grade = GradeList[0]
    studentRes[student] = grade
elif score >70 and score < 85:
    grade = GradeList[1]
    studentRes[student] = grade 
elif score >60 and score < 70:
    grade = GradeList[2]
    studentRes[student] = grade 
else:
    grade = GradeList[3]
    studentRes[student] = grade 

print(studentRes)

import pandas as pd 

scoreCol = list(studentRes.values())
studCol = list(studentRes.keys())

df = pd.DataFrame()

df['student'] = studCol
df['Grade'] = scoreCol
df

enter student nameSamuel
enter student score67
{'Samuel': 'C'}

  student Grade
0  Samuel     C